[submodule "directlfq"]
	path = directlfq
	url = https://github.com/ajmaurais/directlfq
[submodule "rDIAUtils"]
	path = rDIAUtils
	url = https://github.com/ajmaurais/rDIAUtils
[submodule "pyDIAUtils"]
	path = pyDIAUtils
	url = https://github.com/ajmaurais/pyDIAUtils
